.root{
    -fx-font: 14px "Roboto";
    -fx-background-color: #ecf0f1;
}

#conversations_list.list-cell:odd{
    -fx-background-insets: 2, 0, 2, 2;
    -fx-background-color: rgba(255, 255, 255, 0.66);
}

#conversations_list.list-cell:even{
    -fx-background-insets: 2, 0, 2, 2;
    -fx-background-color: rgba(255, 255, 255, 0.66);
}

#conversations_list.list-cell:focused{
    -fx-background-color: rgb(21, 90, 243);
    -fx-text-fill: white;
}

#messages_list.list-cell:focused{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.separator{
    -fx-background-color: lightgray;
    -fx-background-radius: 1;
}

.text-field {
    -fx-border-radius: 3;
}

.message_received{
    -fx-background-radius: 18;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.message_sent{
    -fx-background-radius: 18;
    -fx-background-color: #B6B6B6;
}

.header{
    -fx-background-color: #448AFF;
    -fx-alignment: center;
    -fx-text-fill: white bold;
    -fx-text-alignment: center;
}