@font-face {
    font-family: 'OpenSansEmoji';
    src: url('../fonts/OpenSansEmoji.ttf');
}

.root{
    -fx-font: 14px "Noboto";
    -fx-background-color: #ecf0f1;

}

.text-field{
    -fx-font-family: "OpenSansEmoji";
    -fx-font-size: 32;
}

#conversations_list.list-cell:odd{
    -fx-background-insets: 2, 0, 2, 2;
    -fx-background-color: rgba(255, 255, 255, 0.66);
}

#conversations_list.list-cell:even{
    -fx-background-insets: 2, 0, 2, 2;
    -fx-background-color: rgba(255, 255, 255, 0.66);
}

#conversations_list.list-cell:focused{
    -fx-background-color: rgb(21, 90, 243);
    -fx-text-fill: white;
}

#messages_list.list-cell:focused{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.separator{
    -fx-background-color: lightgray;
    -fx-background-radius: 1;
}

.text-field {
    -fx-border-radius: 3;
}

.message_received{
    -fx-background-radius: 18;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.message_sent{
    -fx-background-radius: 18;
    -fx-background-color: #B6B6B6;
}

.header{
    -fx-font-size: 1.5em;
    -fx-background-color: #4285F4;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#new_conversation{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 42, 42;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-padding: 0;
    -fx-font-size: 0;
    -fx-cursor: hand;
}

#search_input{
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #5E97F6;
    -fx-padding: 15, 0, 15, 0;
    -fx-background-insets: 10, 0, 10, 0;
}